{% extends 'home/base.html' %}
{% block title %}{{ article.title }} - {{ web_title }}{% endblock %}
{% block description %}{{ article.excerpt }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ article.excerpt }}">
    <meta name="keywords" content="{{ article.keywords }}">
    <meta name="author" content="{{ article.author }}">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
{% endblock %}
{% block content %}
<main class="main-grid">
            <div class="main-content">
                <article class="article-detail">
                    <h2>{{ article.title }}</h2>
                    <div class="article-meta">
                        <span>Oleh: {{ article.author.username }}</span> | <span> {{ article.created_at|date:'d F Y' }}</span> | <span>{{ article.views_count }} views</span> | <span>{{ article.content|wordcount }} Characters</span> 
                    </div>
                    <img src="{{ article.featured_image.url }}" alt="{{ article.title }}" class="article-image">
                    <div class="article-content">
                    {{ article.content|safe }}  
                    </div>
                </article>

                <section class="related-articles">
                    <h2>ARTIKEL TERKAIT</h2>
                    <div class="related-articles-grid">
                        <article class="related-article-item">
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Terkait 1">
                            <h3>Perkuat Kemandirian Pangan Lutim, Bupati Irwan Dukung Program Cetak Sawah</h3>
                        </article>
                        <article class="related-article-item">
                            <img src="https://faktasulsel.com/media/articles/featured_images/bupati-lutim-hadiri-peresmian-gedung-baru-mapolsek-nuha-ka_3kS2O5c.jpeg" alt="Terkait 2">
                            <h3>Honda Rayakan Penjualan 35 Ribu Unit Brio di Sulsel</h3>
                        </article>
                        <article class="related-article-item">
                            <img src="https://faktasulsel.com/media/articles/featured_images/ketua-dprd-lutra-hadiri-musrenbang-rpjpd-2025-2045-di-map_03O2j2w.jpeg" alt="Terkait 3">
                            <h3>Makassar Raih Penghargaan Kep Daerah dengan Kinerja Terbaik</h3>
                        </article>
                    </div>
                </section>

                <div class="comments-section">
                    <h2>Komentar</h2>
                    <form>
                        <textarea placeholder="Tulis komentar Anda..."></textarea>
                        <button type="submit">Kirim</button>
                    </form>
                    <div class="comment">
                        <p><strong>Nama Pengguna:</strong> Komentar contoh.</p>
                    </div>
                </div>
            </div>
            <aside class="sidebar">
                <section class="nasional">
                    <h2>NASIONAL</h2>
                    <ul>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/aliyah-mustika-ilham-kolaborasi-media-penting-untuk-umkm-da_mJt2j3g.jpeg" alt="Nasional 1">
                            <p>Prabowo Pastikan Penertiban Barang Bekas Impor Tak Rugikan UMKM</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/aliyah-mustika-ilham-kolaborasi-media-penting-untuk-umkm-da_mJt2j3g.jpeg" alt="Nasional 2">
                            <p>Stasiun Tanah Abang Baru Diresmikan, Simbol Konektivitas Modern Jakarta</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/aliyah-mustika-ilham-kolaborasi-media-penting-untuk-umkm-da_mJt2j3g.jpeg" alt="Nasional 3">
                            <p>Prabowo Ungkap Peran Al Perkuat Ketahanan Pangan Indonesia di APEC 2025</p>
                        </li>
                    </ul>
                </section>
                    <section class="populars">
                    <h2>POPULERS</h2>
                    <ol class="popular-list">
                        {% if popular_articles %}
                            {% for artikel in popular_articles %}
                                <li>
                                    <p>
                                        <a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">
                                            {{ artikel.title|truncatechars:80 }}
                                        </a>
                                    </p>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li><p>Tidak ada artikel populer saat ini.</p></li>
                        {% endif %}
                    </ol>
                </section>
                <section class="latest-news">
                    <h2>TERBARU</h2>
                    <ul>
                {% if latest_articles %}
                {% for terbaru in latest_articles %}
                        <li>
                            <img src="{{ terbaru.featured_image.url }}" alt="Daerah 1">
                            <p><a href="{% url 'article_detail' category_slug=terbaru.category.slug unique_id=terbaru.unique_id slug=terbaru.slug %}">{{ terbaru.title|truncatechars:80 }}</a></p>
                        </li>
                {% endfor %}
                {% endif %}
                    </ul>

                </section>
                <section class="populars">
                    <h2>POPULER</h2>
                    <ol class="popular-list">
                        <li>
                            <p>Buka GIIAS Makassar 2025, Munafri Dorong Ekonomi Otomotif Daerah Bertumbuh</p>
                        </li>
                        <li>
                            <p>Sosialisasi Perlindungan Hukum Terhadap Korban Pelecehan Seksual, Isnaniah : Jadilah Pelopor dan Pelapor</p>
                        </li>
                        <li>
                            <p>Edukasi Warga Tallo, DP3A Makassar Ajak Laporkan Kekerasan Seksual ke Lontara+ dan UPTD PPA</p>
                        </li>
                        <li>
                            <p>Munafri Tinjau Lokasi Barombong, Siapkan Solusi Pembebasan Lahan Jembatan Baru</p>
                        </li>
                    </ol>
                </section>
                <!-- LIST KATEGORI -->
                <section class="categories">
                    <h2>Kategori</h2>
                    <ul class="category-list">
                        {% if category_list %}
                        {% for ini_variabel_sementara_kategori in category_list %}
                        <li><a href="{% url 'category_articles' ini_variabel_sementara_kategori.slug %}">{{ ini_variabel_sementara_kategori.name }} <span class="count">{{ ini_variabel_sementara_kategori.article_count }}</span></a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </section>
                <section class="footers">
                    <p>&copy; 2025 {{ webname }}. All rights reserved.</p>

                </section>
            </aside>
        </main>
    </div>
{% endblock %}