{% extends 'home/base.html' %}
{% block title %}{{ article.title }} - {{ web_title }}{% endblock %}
{% block description %}{{ article.excerpt }}{% endblock %}
{% block meta %}<meta name="description" content="{{ article.content|striptags|truncatechars:160 }}">
    <meta name="keywords" content="Tegas, Cepat, Berimbang, Berita Makassar, Berita Indonesia, {{ article.category }}, Makassar terkini, berita terbaru {{ article.category }}">
    <meta name="author" content="LosariPost">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <!-- Open Graph (Facebook, WhatsApp, LinkedIn) -->
    <meta property="og:title" content="{{ article.title }} - {{ web_title }}">
    <meta property="og:description" content="{{ article.content|striptags|truncatechars:160 }}">
    <meta property="og:image" content="https://losaripost.com{{ article.featured_image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="news">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.title }} - {{ web_title }}">
    <meta name="twitter:description" content="{{ article.content|striptags|truncatechars:160 }}">
    <meta name="twitter:image" content="https://losaripost.com{{ article.featured_image.url }}">
{% endblock %}
{% block content %}
<main class="main-grid">
            <div class="main-content">
                <article class="article-detail">
                    <h2>{{ article.title }}</h2>

                    <div class="article-meta">
                        <span><i class="fas fa-user"></i>{{ article.author.username }}</span>
                        <span><i class="fas fa-calendar-alt"></i>{{ article.created_at|date:'d F Y' }}</span>
                        <span><i class="fas fa-eye"></i>{{ article.views_count }} </span>
                    </div>
                    <figure class="article-image">
                        <img src="{{ article.featured_image.url }}" alt="{{ article.title }}">
                        <figcaption>{% if article.caption_image %}{{ article.caption_image }} {% else %} Istimewa {% endif %}</figcaption>
                    </figure>
                    <div class="article-content">
                    {{ article.content|safe }}  
                    </div>
                    <div class="article-meta">
                        <span><i class="fas fa-file-alt"></i>{{ article.content|wordcount }} Characters</span>
                    </div>
                    <div class="related-article-tags">
                        {% if topics %}
                        {% for tag in topics %}
                                <a href="{% url 'topic_articles' slug=tag.slug %}" class="tag">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="article-share">
                    <span class="share-label">Bagikan:</span>

                    <!-- Facebook -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                    target="_blank" rel="noopener noreferrer"
                    class="share-icon facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!-- Twitter (X) -->
                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ article.title|urlencode }}"
                    target="_blank" rel="noopener noreferrer"
                    class="share-icon twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- WhatsApp -->
                    <a href="https://api.whatsapp.com/send?text={{ article.title|urlencode }}%20{{ request.build_absolute_uri }}"
                    target="_blank" rel="noopener noreferrer"
                    class="share-icon whatsapp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <!-- Telegram -->
                    <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={{ article.title|urlencode }}"
                    target="_blank" rel="noopener noreferrer"
                    class="share-icon telegram">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </div>
                </article>
                <section class="related-articles">
                    <h2>ARTIKEL TERKAIT</h2>
                    <div class="related-articles-grid">
                        {% for related in related_articles %}
                        <article class="related-article-item">
                            <img src="{{ related.featured_image.url }}" alt="{{ related.title }}">
                            <h3><a href="{% url 'article_detail' category_slug=related.category.slug unique_id=related.unique_id slug=related.slug %}">{{ related.title }}</a></h3>
                        </article>
                        {% endfor %}
                    </div>
                </section>

                <div class="comments-section">
                    <h2>Komentar</h2>
                    <form>
                        <textarea placeholder="Tulis komentar Anda..."></textarea>
                        <button type="submit">Kirim</button>
                    </form>
                    <div class="comment">
                        <p><strong>Nama Pengguna:</strong> Komentar...</p>
                    </div>
                </div>
</div>
<aside class="sidebar">
                    <section class="populars">
                    <h2>POPULER</h2>
                    <ol class="popular-list">
                        {% if popular_articles %}
                            {% for artikel in popular_articles %}
                                <li>
                                    <p>
                                        <a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">
                                            {{ artikel.title|truncatechars:80 }}
                                        </a>
                                    </p>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li><p>Tidak ada artikel populer saat ini.</p></li>
                        {% endif %}
                    </ol>
                </section>
                <section class="latest-news">
                    <h2>TERBARU</h2>
                    <ul>
                {% if latest_articles %}
                {% for terbaru in latest_articles %}
                        <li>
                            <img src="{{ terbaru.featured_image.url }}" alt="Daerah 1">
                            <p><a href="{% url 'article_detail' category_slug=terbaru.category.slug unique_id=terbaru.unique_id slug=terbaru.slug %}">{{ terbaru.title|truncatechars:80 }}</a></p>
                        </li>
                {% endfor %}
                {% endif %}
                    </ul>

                </section>
                <!-- LIST KATEGORI -->
                <section class="categories">
                    <h2>CHANNEL</h2>
                    <ul class="category-list">
                        {% if category_list %}
                        {% for ini_variabel_sementara_kategori in category_list %}
                        <li><a href="{% url 'category_articles' ini_variabel_sementara_kategori.slug %}">{{ ini_variabel_sementara_kategori.name }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </section>
<section class="footers">
    <p>&copy; 2025 LosariPost. All rights reserved.</p>
    <a href="/page/kontak">Kontak</a> |
    <a href="/page/tentang-kami">Tentang Kami</a> |
    <a href="/page/pedoman-media-siber">Pedoman Media Siber</a> |
    <a href="/page/redaksi">Redaksi</a>
</section>
            </aside>
        </main>
    </div>
{% endblock %}