{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LosariPost.com{% endblock %}</title>
	{% block meta %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}?v={{ STATIC_VERSION }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/logo/favicon-16x16.png">
    <link rel="manifest" href="/media/logo/site.webmanifest">
</head>
<body>
    <div class="container">
        <header>
            <div class="top-bar">
                <div class="logo">
                    <a href="/"><img src="/media/logo/logo.png" alt="LosariPost.com Logo"></a>
                </div>
                <div class="header-right">
                    <div class="social-media">
                        <a href="https://web.facebook.com/losaripost"><i class="fab fa-facebook-f"></i></a>
                        <a href="http://instagram.com/losaripost"><i class="fab fa-instagram"></i></a>
                        <a href="https://x.com/losaripost"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fas fa-rss"></i></a>
                    </div>
<form method="get" action="{% url 'article_list' %}" class="search-bar">
    <input type="text" name="search" placeholder="Search" value="{{ search_query|default:'' }}">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
                <div class="mobile-icons">
                    <a href="#"><i class="fas fa-search" style="color: #000;"></i></a>
                    <a href="#"><i class="fas fa-bars" style="color: #000;"></i></a>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/category/news">News</a></li>
                    <li><a href="/category/hukum">Hukum</a></li>
                    <li><a href="/category/politik">Politik</a></li>
                    <li><a href="/category/makassar-raya/">⁠Makassar Raya</a></li>
                    <li><a href="/category/celebes-voice/">Celebes Voice</a></li>
                    <li><a href="/category/inspirasi-nusantara">⁠Inspirasi Nusantara</a></li>
                    <li><a href="/category/lensa-budaya">Lensa Budaya</a></li>
                    <li><a href="/category/sport-hiburan">Sport & Hiburan</a></li>
                    <li><a href="/category/teknologi">Teknologi</a></li>
                    <li><a href="/category/daerah">Daerah</a></li>
                    <li><a href="/category/lainnya">Lainnya</a></li>
                </ul>
            </nav>
        </header>
{% block content %}{% endblock %}
</div> 
<script src="main.js"></script>
<script src="/static/js/main_home.js?v={{ STATIC_VERSION }}"></script>
</body>
</html>