{% extends 'home/base.html' %}
{% block title %}{{ web_title }}{% endblock %}
{% block description %}{{ web_name }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ web_name }}">
    <meta name="keywords" content="{{ web_keywords }}">
    <meta name="author" content="{{ web_author }}">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="google-site-verification" content="{{ web_google_site_verification }}">
    <meta name="google-site-verification" content="{{ web_google_site_verification }}">
    <!-- Icons -->
    <link rel="icon" href="{{ web_favicon }}">
    <link rel="apple-touch-icon" href="{{ web_apple_touch_icon }}">
    <link rel="manifest" href="{{ web_manifest }}">
    <meta name="theme-color" content="{{ web_theme_color }}">
    <meta name="msapplication-TileColor" content="{{ web_msapplication_tile_color }}">
    <meta name="msapplication-TileImage" content="{{ web_msapplication_tile_image }}">
    <meta name="msapplication-config" content="{{ web_msapplication_config }}">
{% endblock %}
{% block content %}
        <main class="main-grid">
            <div class="main-content">
                <section class="hero-slider">
                    <h2>BREAKING NEWS</h2>
                    <div class="slider-container">
                        <div class="slides">
                            {% for artikel in headline_articles %}
                            <article class="slide">
                                <img src="{{ artikel.featured_image.url }}" alt="Fokus 1">
                                <div class="slide-content">
                                    <h3>{{ artikel.title }}</h3>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <button class="prev-btn"><i class="fas fa-chevron-left"></i></button>
                        <button class="next-btn"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </section>
                 <section class="latest-news">
                    <h2>BERITA TERBARU</h2>
                    <div class="news-list">
        {% if article_list %}
        {% for artikel in article_list %}
                <article class="news-item">
                {% if artikel.featured_image %}
                <img src="{{ artikel.featured_image.url }}" alt="{{ artikel.title }}">
                {% else %}
                {% endif %}
                            <div class="news-content">
                                <div class="news-meta">
                                    <span class="category"><a href="{% url 'category_articles' artikel.category.slug %}">{{ artikel.category|upper }}</a></span>
                                    <span class="date">{{ artikel.created_at|date:'d F Y' }}</span>
                                </div>
                                <h3><a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">{{ artikel.title }}</a></h3>
                            </div>
                        </article>
        {% endfor %}
        {% else %}
        <p>Tidak ada artikel</p>
        {% endif %}
                
                    </div>
                </section>
            </div> <aside class="sidebar">
                <section class="nasional">
                    <h2>NASIONAL</h2>
                    <ul>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/aliyah-mustika-ilham-kolaborasi-media-penting-untuk-umkm-da_mJt2j3g.jpeg" alt="Nasional 1">
                            <p>Prabowo Pastikan Penertiban Barang Bekas Impor Tak Rugikan UMKM</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/aliyah-mustika-ilham-kolaborasi-media-penting-untuk-umkm-da_mJt2j3g.jpeg" alt="Nasional 2">
                            <p>Stasiun Tanah Abang Baru Diresmikan, Simbol Konektivitas Modern Jakarta</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/aliyah-mustika-ilham-kolaborasi-media-penting-untuk-umkm-da_mJt2j3g.jpeg" alt="Nasional 3">
                            <p>Prabowo Ungkap Peran Al Perkuat Ketahanan Pangan Indonesia di APEC 2025</p>
                        </li>
                    </ul>
                </section>
                <section class="daerah">
                    <h2>DAERAH</h2>
                    <ul>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 1">
                            <p>DPKD Luwu Timur Matangkan Persiapan Lomba Perpustakaan Desa 2025</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 2">
                            <p>Perkuat Kemandirian Pangan Lutim, Bupati Irwan Dukung Program Cetak Sawah</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 3">
                            <p>Bupati Lutim Hadiri Peresmian Gedung Baru Mapolsek Nuha</p>
                        </li>
                        <li>
                            <img src="httpshttpsfaktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 4">
                            <p>Ketua DPRD Lutra Hadiri Musrenbang RPJPD 2025 2045 di Mapolres Lutra</p> 
                        </li>
                    </ul>

                </section>
                <section class="populars">
                    <h2>POPULER</h2>
                    <ol class="popular-list">
                        <li>
                            <p>Buka GIIAS Makassar 2025, Munafri Dorong Ekonomi Otomotif Daerah Bertumbuh</p>
                        </li>
                        <li>
                            <p>Sosialisasi Perlindungan Hukum Terhadap Korban Pelecehan Seksual, Isnaniah : Jadilah Pelopor dan Pelapor</p>
                        </li>
                        <li>
                            <p>Edukasi Warga Tallo, DP3A Makassar Ajak Laporkan Kekerasan Seksual ke Lontara+ dan UPTD PPA</p>
                        </li>
                        <li>
                            <p>Munafri Tinjau Lokasi Barombong, Siapkan Solusi Pembebasan Lahan Jembatan Baru</p>
                        </li>
                    </ol>
                </section>
                 <section class="populars">
                    <h2>POPULER</h2>
                    <ol class="popular-list">
                        <li>
                            <p>Buka GIIAS Makassar 2025, Munafri Dorong Ekonomi Otomotif Daerah Bertumbuh</p>
                        </li>
                        <li>
                            <p>Sosialisasi Perlindungan Hukum Terhadap Korban Pelecehan Seksual, Isnaniah : Jadilah Pelopor dan Pelapor</p>
                        </li>
                        <li>
                            <p>Edukasi Warga Tallo, DP3A Makassar Ajak Laporkan Kekerasan Seksual ke Lontara+ dan UPTD PPA</p>
                        </li>
                        <li>
                            <p>Munafri Tinjau Lokasi Barombong, Siapkan Solusi Pembebasan Lahan Jembatan Baru</p>
                        </li>
                    </ol>
                </section>
                 <section class="daerah">
                    <h2>DAERAH</h2>
                    <ul>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 1">
                            <p>DPKD Luwu Timur Matangkan Persiapan Lomba Perpustakaan Desa 2025</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 2">
                            <p>Perkuat Kemandirian Pangan Lutim, Bupati Irwan Dukung Program Cetak Sawah</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 3">
                            <p>Bupati Lutim Hadiri Peresmian Gedung Baru Mapolsek Nuha</p>
                        </li>
                        <li>
                            <img src="https://faktasulsel.com/media/articles/featured_images/anggota-dprd-kota-makassar-mesakh-raymond-rantepadang-gelar-so_VoptIsI.jpeg" alt="Daerah 4">
                            <p>Ketua DPRD Lutra Hadiri Musrenbang RPJPD 2025 2045 di Mapolres Lutra</p> 
                        </li>
                    </ul>

                </section>
                <section class="categories">
                    <h2>Kategori</h2>
                    <ul class="category-list">
                        <li><a href="#">Nasional <span class="count">7</span></a></li>
                        <li><a href="#">Kriminalitas <span class="count">0</span></a></li>
                        <li><a href="#">Politik <span class="count">3</span></a></li>
                        <li><a href="#">Olahraga <span class="count">3</span></a></li>
                        <li><a href="#">Suara Netizen <span class="count">0</span></a></li>
                        <li><a href="#">Ekonomi <span class="count">2</span></a></li>
                        <li><a href="#">Teknologi <span class="count">1</span></a></li>
                        <li><a href="#">Gaya Hidup <span class="count">0</span></a></li>
                    </ul>
                </section>
                <section class="footers">
    <p>&copy; 2025 LosariPost. All rights reserved.</p>
</section>
</aside> 
</main>
{% endblock %}
