{% extends 'home/base.html' %}
{% block title %}{{ web_title }}{% endblock %}
{% block description %}{{ web_name }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ web_name }}">
    <meta name="keywords" content="{{ web_keywords }}">
    <meta name="author" content="{{ web_author }}">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="google-site-verification" content="{{ web_google_site_verification }}">
    <meta name="google-site-verification" content="{{ web_google_site_verification }}">
    <!-- Icons -->
    <link rel="icon" href="{{ web_favicon }}">
    <link rel="apple-touch-icon" href="{{ web_apple_touch_icon }}">
    <link rel="manifest" href="{{ web_manifest }}">
    <meta name="theme-color" content="{{ web_theme_color }}">
    <meta name="msapplication-TileColor" content="{{ web_msapplication_tile_color }}">
    <meta name="msapplication-TileImage" content="{{ web_msapplication_tile_image }}">
    <meta name="msapplication-config" content="{{ web_msapplication_config }}">
{% endblock %}
{% block content %}
        <main class="main-grid">
            <div class="main-content">
                <section class="hero-slider">
                    <h2>BREAKING NEWS</h2>
                    <div class="slider-container">
                        <div class="slides">
                            {% for artikel in headline_articles %}
                            <article class="slide">
                                <img src="{{ artikel.featured_image.url }}" alt="Fokus 1">
                                <div class="slide-content">
                                    <h3>{{ artikel.title }}</h3>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <button class="prev-btn"><i class="fas fa-chevron-left"></i></button>
                        <button class="next-btn"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </section>
                 <section class="latest-news">
                    <h2>BERITA TERBARU</h2>
                    <div class="news-list">
        {% if article_list %}
        {% for artikel in article_list %}
                <article class="news-item">
                {% if artikel.featured_image %}
                <img src="{{ artikel.featured_image.url }}" alt="{{ artikel.title }}">
                {% else %}
                {% endif %}
                            <div class="news-content">
                                <div class="news-meta">
                                    <span class="category"><a href="{% url 'category_articles' artikel.category.slug %}">{{ artikel.category|upper }}</a></span>
                                    <span class="date">{{ artikel.created_at|date:'d F Y' }}</span>
                                </div>
                                <h3><a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">{{ artikel.title }}</a></h3>
                            </div>
                        </article>
        {% endfor %}
        {% else %}
        <p>Tidak ada artikel</p>
        {% endif %}
                
                    </div>
                </section>
            </div> <aside class="sidebar">


                <section class="nasional">
                    <h2>NASIONAL</h2>
                    <ul>
                        {% for artikel in nasional_articles %}
                        <li>
                            <img src="{{ artikel.featured_image.url }}" alt="{{ artikel.title }}">
                            <div class="news-content">
                                <p>
                                    <a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">
                                        {{ artikel.title|truncatechars:80 }}
                                    </a>
                                </p>
                                <div class="news-meta">
                                    <span class="date">
                                        {{ artikel.created_at|date:"d M Y" }}
                                    </span>
                                    <span class="category">
                                        {{ artikel.category.name|upper }}
                                    </span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="daerah">
                    <h2>POLITIK</h2>
                    <ul>
                        {% for artikel in politik %}
                        <li>
                            <img src="{{ artikel.featured_image.url }}" alt="Daerah 1">
                             <div class="news-content">
                            <p>
                                        <a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">
                                            {{ artikel.title|truncatechars:80 }}
                                        </a>
                                    </p>
                                    <div class="news-meta">
                                    <span class="date">
                                        {{ artikel.created_at|date:"d M Y" }}
                                    </span>
                                    <span class="category">
                                        {{ artikel.category.name|upper }}
                                    </span>
                                </div>
                                </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="populars">
                    <h2>POPULERS</h2>
                    <ol class="popular-list">
                        {% if popular_articles %}
                            {% for artikel in popular_articles %}
                                <li>
                                    <p>
                                        <a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">
                                            {{ artikel.title|truncatechars:80 }}
                                        </a>
                                    </p>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li><p>Tidak ada artikel populer saat ini.</p></li>
                        {% endif %}
                    </ol>
                </section>
                <section class="daerah">
                    <h2>DAERAH</h2>
                    <ul>
                        {% for artikel in daerah_articles %}
                        <li>
                            <img src="{{ artikel.featured_image.url }}" alt="Daerah 1">
                             <div class="news-content">
                            <p>
                                        <a href="{% url 'article_detail' category_slug=artikel.category.slug unique_id=artikel.unique_id slug=artikel.slug %}">
                                            {{ artikel.title|truncatechars:80 }}
                                        </a>
                                    </p>
                                    <div class="news-meta">
                                    <span class="date">
                                        {{ artikel.created_at|date:"d M Y" }}
                                    </span>
                                    <span class="category">
                                        {{ artikel.category.name|upper }}
                                    </span>
                                </div>
                                </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="categories">
                    <h2>Kategori</h2>
                    <ul class="category-list">
                        {% if category_list %}
                        {% for ini_variabel_sementara_kategori in category_list %}
                        <li><a href="{% url 'category_articles' ini_variabel_sementara_kategori.slug %}">{{ ini_variabel_sementara_kategori.name }} <span class="count">{{ ini_variabel_sementara_kategori.article_count }}</span></a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </section>
                <section class="footers">
    <p>&copy; 2025 LosariPost. All rights reserved.</p>
    <a href="/page/kontak">Kontak</a> |
    <a href="/page/tentang-kami">Tentang Kami</a> |
    <a href="/page/pedoman-media-siber">Pedoman Media Siber</a> |
    <a href="/page/redaksi">Redaksi</a>

</section>
</aside> 
</main>
{% endblock %}
