{% extends 'home/base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.excerpt }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ article.excerpt }}">
    <meta name="keywords" content="{{ article.keywords }}">
    <meta name="author" content="{{ article.author }}">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
{% endblock %}
{% block content %}


<main class="main-grid-full">
            <div class="main-content">
                <article class="article-detail">
                    <h2>{{ page.title }}</h2>
                    <div class="article-content">
                        <p>{{ page.content|safe }}</p>
                    </div>
                </article>
            </div>
        </main>

        <section class="footers">
        <p>&copy; 2025 {{ webname }}. All rights reserved.</p>
</section>

{% endblock %}